.container{

    margin-bottom: 100px;
}
.orange-bg {
    background-color: #feeae9;
    border-radius: 8px;
}

.carousel-item{

    padding: 20px;
}

.price{
    color: rgb(230, 55, 84);
}
.buy-now-button{
background-image: linear-gradient(to bottom,rgb(243, 59, 89) 0%,rgb(161, 4, 4) 100%);
color: white;
border: none;
border-radius: 8px;
padding: 9PX 25px;
cursor: progress;


}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 8px;
}
.cat1{

    background-color: orange;
    
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
   
    box-shadow: 5px 5px 10px rgb(59, 124, 39);
   border: none;
}
.card-footer{
    border-top: none;
}
#subscribe{
    height: 300px;
}

#subscribe h6{
    color: gray;
}

footer{

    text-align: center;
}